
/*
side bar
*/
#add_form_right h2 {
  margin-bottom: 12px;
  display:block;
  padding:10px;
  padding-bottom: 13px;
  padding-top: 15px;
  line-height: 20px;
  border-bottom:1px solid #c0dcc0;
  margin-bottom:5px;
}

.side_bar_block {
  padding:5px;
  border-bottom:1px solid #c0dcc0;
  float:left;
  clear:both;
  width: 300px;
}

#side_bar_block_image img {
  padding:1px;
  border:1px solid #c0dcc0;
  margin-left:2px;
  cursor:pointer;
}
.image_list {
  position:relative;
  display:inline-block;
  width: 66px;
  margin: 1px;
}
.image_list a {
  position:absolute;
  left:57px;
  top:4px;
  display:none;
  background-color:rgba(255, 255, 255, 0.50);
  padding-left:3px;
  padding-right:3px;
  padding-top:1px;
  padding-bottom:1px;
  font-size:8px;
  font-weight:bolder;
  line-height:10px;
  color:#000;
}

.side_bar_block h3 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0px;
  display:block;
  padding:10px;
  padding-left:20px;
  width:100%;
}

#status {
  position:absolute;
}

/*
Upload Override
*/
#uploader {
  height:auto;
  display:block;
  width: auto !important;
}
.plupload_wrapper, .plupload_button {
  font-size: 8px !important;
}
.plupload_header {
  display:none  !important;
}
.plupload_filelist .plupload_file_name {
  width: 100px !important;
}
.plupload_scroll .plupload_filelist {
  overflow-y: visible !important;
  height: auto !important;
}
.plupload_wrapper {
  font: normal 11px Verdana,sans-serif;
  width: 97%;
}
.plupload_file_size, .plupload_file_status, .plupload_progress {
  width: 40px !important;
}
.plupload_file_action {
width: auto  !important;
}
span.upload-button:hover {
  border-top: 1px solid #C1C1C1;
  border-image: initial;
}
span.upload-button {
  cursor:pointer;
  border-top: 1px solid #A7A7A7;
  width: auto !important;
  display:block;
  text-align:center;
  background: url("../images/tag.png") center -10px no-repeat;
  height:20px;
}
span.hide-button {
  -webkit-transform:scaleY(-1);
  -moz-transform:scaleY(-1);
  -ms-transform:scaleY(-1);
  -o-transform:scaleY(-1);
  transform:scaleY(-1);
  margin-bottom:20px;
  height:10px;
}

.form_input {
  width:100%;
  height: 32px;
  color: #999;
  moz-box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 3px;
}

.table-price table {
  border:none;
}
.table-price th, .table-price th p {
  font-size: 20px;
  font-weight: bold !important;
}

.table-price h3 {
  margin-top: 0px;
}

.table-price p {
  font-size: 20px;
  margin-bottom: 0px;
}

.grand_total_price {
  font-size: 30px;
  float: right;
  margin-right: 10px;
  border-bottom: 1px double #C1C1C1;
}
.grand_total_price .total_number {
  color: #FE5214;
  font-size: 36px;
  font-weight: bold !important;
  border-bottom: 1px double #C1C1C1;
}