



/**** Isotope styles ****/

/* required for containers to inherit vertical size from window */
html,
body {
  height: 100%;
}

.list_attractions{
  margin: 0 10px 20px 10px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
.list_attractions a img{
  width: 100%;
}


#infscr-loading {
  position: fixed;
  text-align: center;
  bottom: 30px;
  left: 42%;
  z-index: 100;
  background: white;
  background: hsla( 0, 0%, 100%, 0.9 );
  padding: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}



/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
