.description_tour {
  font-size: 20px;
  border-bottom: 1px solid #CCCCCC;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
p{
	font-size:14px;
	line-height:20px;
	color:#4e4e4e;
	text-align:justify;
}

.content h3{
color:#222222 !important;
fon
}