@charset "utf-8";
@import url('fonts/fonts.css');
body{
	font-size: 20px;
	font-family: 'thaisanslite';
	color: #4E4E4E;
}
::selection, ::-moz-selection { 
	background-color: rgba(243, 189, 0, .5);
	color: #fff; 
	text-shadow: none; 
}
img{
	border: none;
}
.clearfix {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
}
label{
	font-size: 20px;
}
/* ---------------------------------------------------------------------- */
/*	Typography
/* ---------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6{
	font-family: 'thaisanslite';
	color: #4e4e4e;
	font-weight: normal;
}
h3{
	font-size: 30px;
	line-height: 20px;
	text-shadow: 1px 1px 0px #fff;
}
p{
	font-family: 'thaisanslite';
	font-size: 22px;
	line-height: 26px;
	color: #4e4e4e;
	text-align: justify;
	text-justify: newspaper;
}
a{
	color: #0cace1;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

a:hover{ 
	color: #F3BD00; 
	text-decoration: none !important;
}
ul.square li{
	font-size: 20px;
}
ul.square {
	margin: 0px;
}

.overly-bg{
	background: url(../images/overly_bg.png) repeat-x;
	position: absolute;
	top: 550px;
	left: 0px;
	display: block;
	content: "";
	height: 300px;
	width: 100%;
	z-index: -1;
}

h1.title{
	font-family: 'thaisanslite';
	text-align: center;
	font-size: 48px;
	color: #fff;
	font-weight: normal;
	padding: 0 40px;
	height: 250px;
	padding: 75px 40px 0 40px;
	text-shadow:1px 1px 0px #000;
}
span.subtitle{
	display: block;
	font-size: 26px;
}


@media only screen and (min-width: 980px) {
	.top-bar{
		margin:40px 0 0 0; 
		height: 75px;
		line-height: 75px;
		text-shadow: 0px 1px 1px black;
		font-size: 13px;
		background: url(../images/menu_bg.png) repeat-x;
		border: 1px solid black;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
	}
	.top-bar ul > li a:not(.button) {
		height: 75px;
		line-height: 70px;
	}
	.top-bar > ul .name img{
		margin: -13px 0 0 0;
	}
	.top-bar ul > li:hover, .top-bar ul > li a.active { 
		background: transparent; 
	}

}

.lt-ie9 .top-bar{
	margin-top:40px; 
	height: 75px;
	line-height: 75px;
	text-shadow: 0px 1px 1px black;
	font-size: 13px;
	background: url(../images/menu_bg.png) repeat-x;
	border: 1px solid black;
	}
.lt-ie9 .top-bar ul > li a{
	height: 75px;
	line-height: 70px;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: -1px;
}

.lt-ie9 .top-bar > ul .name img{
	margin: -13px 0 0 0;
}
.lt-ie9 .top-bar ul > li:hover, .lt-ie9 .top-bar ul > li a.active { 
	background: transparent !important; 
}

.lt-ie9 .top-bar ul > li a.active{
	color: #F3BD00;
}

@media only screen and (max-width: 980px) {
	.top-bar > ul .name img{
		height: 30px;
	}
	.top-bar{
		margin-top:20px; 
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		background: rgba(0, 0, 0, 0.7);
		border: 1px solid black;
	}
	.top-bar ul li.name{
		background: url(../images/menu_bg2.png) repeat-x;
	}
	.top-bar ul li.toggle-topbar{
		right: 15px;
		top: 20px;
	}
	.top-bar ul li.toggle-topbar:hover{
		background: transparent;
	}

	.top-bar section > ul li a:not(.button){
		font-size: 20px;
	}
}

.top-bar ul > li a:not(.button){
	font-size: 20px;
	font-family: 'thaisanslite';
	font-weight: normal;
	text-shadow: 1px 1px 0px #000;
}

.top-bar ul > li a:not(.button).active{
	color: #f3bd00;
}
a.arrow {
	position: absolute;
	width: 32px;
	height: 32px;
	display: block;
	text-indent: -9999px; 
	top: 50%;
	margin: -16px 0 0 0;
	background: url(../images/arrow.png) no-repeat 0px 0px;
	background-color: #000;
	background-color: rgba(0, 0, 0, .5);
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
	-webkit-transition: all 0.3s ease-out;
		 -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
	behavior: url(stylesheets/PIE.htc);
}
a.arrow:hover{
	background-color: rgba(0, 0, 0, .7);
}
a.previous{
	left: 15px;
	background-position: 0 0px; 
}
a.next{
	right: 15px;
	background-position: 0 -64px; 
}
a.previous:hover{
	left: 15px;
	background-position: 0 -32px; 
}
a.next:hover{
	right: 15px;
	background-position: 0 -96px; 
}

#powerTip{
	font-size: 22px;
}
#powerTip.se, #powerTip.n{
	font-size: 18px;
}
#toTop {
	behavior: url(stylesheets/PIE.htc);
}

/* ---------------------------------------------------------------------- */
/*	Gallery
/* ---------------------------------------------------------------------- */
.gallery_pc{
	margin: 0 15px 10px 15px;
	background: #fff;
	overflow: hidden;
	height: 448px;
	-webkit-border-radius: 2px;	
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	      -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.lt-ie9 .gallery_pc{
	border-radius: 2px;
	box-shadow: 0px 1px 1px #8a8a8a;
	behavior: url(stylesheets/PIE.htc);
}
.gallery_pc .columns{
	padding: 3px;
}
.gallery_pc .four{
	padding: 3px 0px 3px 2px

}

.gallery_pc div.content {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	float: right;
	width: 627px; 
	position: relative;
}
.gallery_pc div.content a, div.navigation a {
	text-decoration: none;
	color: #777;
}
div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}
div.controls {
	margin-top: 5px;
	height: 40px;
	position: absolute;
	z-index: 2;
	right: 17px;
	bottom: 12px;
}
div.controls a.next{
	height: 40px;
	width: 20px;
	background: url(../images/arrow_gallery.png) -20px -80px no-repeat;
}
div.controls a.prev{
	height: 40px;
	width: 20px;
	background: url(../images/arrow_gallery.png) 0px -80px no-repeat;
}
div.controls a.next:hover{
	background: url(../images/arrow_gallery.png) -20px 0px no-repeat;
}
div.controls a.prev:hover{
	background: url(../images/arrow_gallery.png) 0px 0px no-repeat;
}
div.controls a.play{
	display: none;
}
div.controls a {
	display: inline-block;
	text-indent: -9999px;
}
div.ss-controls {
	float: left;
}
div.nav-controls {
	float: right;
}
div.slideshow-container {
	position: relative;
	clear: both;
	height: 441px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../images/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 625px;
	height: 441px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {

}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
div.slideshow a.advance-link {
	display: block;
	width: 625px;
	height: 441px; /* This should be set to be at least the height of the largest image in the slideshow */
	line-height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
	text-align: center;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
}
div.download {
	display: none;
}
div.caption-container {
	height: 60px;
	width: 615px;
	position: absolute;
	bottom: 0px;
	left: 0;
	border-left: 3px solid #FFC000;
	background: #CBBFAE;
	background: rgba(190, 176, 155, 0.4);
	margin: 0 0 5px 5px;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	-ms-transition: all 200ms;
	transition: all 200ms;
}

.lt-ie9 div.caption-container {
	background: url(../images/ie/caption.png);
}
.lt-ie9 div.caption-container:hover {
	background: url(../images/ie/caption.png);
}

div.caption-container:hover {
	background: rgba(190, 176, 155, 0.7);
}

span.img-caption {
	display: block;
	position: absolute;
	height: 50px;
	margin: 5px 0 0 5px;
}
div.caption {
	padding: 12px;
}
div.image-title {
	line-height: 30px;
	font-size: 22px;
	color: white;
}
div.image-desc {
	font-size: 12px;
	color: white;
	font-family: Tahoma, "MS Sans Serif";
}
div.navigation {
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 0px 0px 4px 4px;
	list-style: none;
}
a.thumb {
	display: block;
	width: 100px;
	height: 85px;
}
ul.thumbs li.selected{
	background: #000;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
	max-width: 100px;
	min-height: 85px;
}
div.pagination {
	clear: both;
	display: none;
}
div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
}
div.navigation div.bottom {
	margin-top: 12px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
	background-color: #000;
	border-color: #000;
	color: #fff;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}

@media only screen and (max-width: 980px) {
	.gallery_pc{
		display: none;
	}

}

.thumbs > li > a{
	display: block;
	position: relative;
	overflow: hidden;
}
.thumbs > li > a div {
	position: absolute;
	background: url(../images/hover_pattern.png);
	width: 100%;
	height: 100%;
}
.thumbs > li > a div span{
	display: block;
	position: relative;
	background: url(../images/icon.png) 0px -420px;
	width: 30px;
	height: 30px;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -15px;
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}

.thumbs > li a div.da-animate {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* Initial state classes: */
.da-slideFromTop {
	left: 0px;
	top: -100%;
}
.da-slideFromBottom {
	left: 0px;
	top: 100%;
}
.da-slideFromLeft {
	top: 0px; 
	left: -100%;
}
.da-slideFromRight {
	top: 0px;
	left: 100%;
}
/* Final state classes: */
.da-slideTop {
	top: 0px;
}
.da-slideLeft {
	left: 0px;
}
/* ---------------------------------------------------------------------- */
/*	gallery_mobile
/* ---------------------------------------------------------------------- */
.gallery_mobile{
	margin: 0 15px 10px 15px;
	background: #fff;
	overflow: hidden;
	padding: 3px 3px 0px 0px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	      -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.gallery_mobile .columns{
	padding: 3px;
}

.gallery_mobile{
	display: none;
}
#gallery_mobile { 
	list-style: none; padding: 0; margin: 0; 
}
#gallery_mobile:after { 
	clear: both; content: "."; 
	display: block; 
	height: 0; 
	visibility: hidden; 
}
#gallery_mobile li { 
	float: left; 
	width: 25%; 
}
#gallery_mobile li:first-child{ 
	width: 100%; 
}
#gallery_mobile li a { 
	display: block; 
	margin: 0px 0px 3px 3px;
}
#gallery_mobile li img { 
	display: block; 
	width: 100%; 
	height: auto; 
}
@media only screen and (max-width: 980px) {
	.gallery_mobile{
		display: block;
	}
}
@media only screen and (max-width: 767px) {
	.addthis_button_pinterest_pinit {
		display: none;
	}
	.social_network{
		margin: 0px 42px 9px 0px !important;
	}



}
@media only screen and (min-width: 767px) {
	#gallery_mobile li { 
		float: left; 
		width: 20%; 
	}
}
/* ---------------------------------------------------------------------- */
/*	Article
/* ---------------------------------------------------------------------- */
.article{
	background: #fff;
	height: auto;
	position: relative;
	margin: 0px 15px 10px 15px;
	padding: 0 15px 0 15px;
	-webkit-border-radius: 2px;	
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	      -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.lt-ie9 .article{
	border-radius: 2px;
	box-shadow: 0px 1px 1px #8a8a8a;
	behavior: url(stylesheets/PIE.htc);
}
.row .border{
	border-bottom: dashed 1px #c2c2c2; 
	margin-bottom: 10px;  
}
.map{
	border: 3px #fff solid;
	margin: 0 0 0px 0;
	-webkit-border-radius: 2px;	
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	      -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.lt-ie9 .map{
	border-radius: 2px;
	box-shadow: 0px 1px 1px #8a8a8a;
	behavior: url(stylesheets/PIE.htc);
}
.box_white_in_columns{
	background: #fff;
	overflow: hidden;
	padding: 0 10px 0 10px;
	margin: 0 0 10px 0;
	-webkit-border-radius: 2px;	
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	      -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.lt-ie9 .box_white_in_columns{
	border-radius: 2px;
	box-shadow: 0px 1px 1px #8a8a8a;
	behavior: url(stylesheets/PIE.htc);
}
.box_white_in_row{
	background: #fff;
	height: auto;
	margin: 10px 15px 10px 15px;
	-webkit-border-radius: 2px;	
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	      -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.lt-ie9  .box_white_in_row{
	border-radius: 2px;
	box-shadow: 0px 1px 1px #8a8a8a;
	behavior: url(stylesheets/PIE.htc);
}


.tags{
	margin:0;
	padding:0;
	list-style:none;
	min-height: 35px;
}
.tags li{
	position: relative;
}
.tags li, .tags a{
	float:left;
	height:24px;
	line-height:17px;
	font-size:11px;
	font-size: 20px;
	color: #4E4E4E;
	padding: 0 8px 0 0px;
}
.tags a:hover{
	color: #0089E0;

}

.tags a.tags_name{
	padding:0 10px 0 12px;
	margin:  0 10px 0 0;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;	
	border-bottom-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;	
	border-top-left-radius:4px;	
	} 
.tags a.tags_name:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	right: 6px;
	width:0;
	height:0;
	border-color:transparent  transparent transparent #0089e0 ;
	border-style:solid;
	border-width:12px 0px 12px 12px;		
	}
.tags a.tags_name:after{
	content:"";
	position:absolute;
	top:10px;
	right: 16px;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
	}
.color_blue{
	color: #0089E0;
}
.article_tour p{
	padding-left: 5px !important; 
}
ul.disc{
	margin-left: 10px;
}
ul.disc li{
	font-size: 20px;
}

.price_booking {
	background: #F2F2F2;
	border: solid 1px #E6E6E6;
	margin: 15px;
	padding: 10px 10px 10px 10px;
	height: auto;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
          border-radius: 2px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	      -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);

}
.price_booking .columns{
	padding: 0 0px; 
}

.price_booking .four{
	padding: 0 15px; 
}

.price_booking span{
	display: block;
	font-size: 20px;
	color: #FE5214;
	line-height: 30px;
}
.price_booking span strong{
	color: #4E4E4E;
	font-weight: normal;
	font-size: 22px;
}
.price_booking span.title{
	font-size: 30px;
}
.booking{
	float: right;
}
.price_booking .button{
	background: #FE5214;
	border: 1px solid #df420a;
	font-size: 22px;
	font-family: 'thaisanslite';
	font-weight: normal;
	padding: 3px 15px 3px 13px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}
.price_booking .button:hover{
	background: #e43c00;

}
@media only screen and (max-width: 767px) {
	.booking{
		float: none;
	}
	.price_booking{
		text-align: center;
	}
	.price_booking .button{
		padding: 10px 20px 11px;
	}
}
form.search_hotel div.custom.dropdown a.current{
	line-height: 30px;

}
form.search_hotel div.custom.dropdown a.selector{
	height: 32px;

}

form.search_hotel div.custom.dropdown{
	margin-bottom: 16px;
	width: 100% !important;
}
form.search_hotel div.custom.dropdown.open ul{
	width: 100% !important;	

}

form.search_hotel .button{
	float: right;
	margin: 25px 0px 0px 0px;
	background: #0089E0;
	font-size: 22px;
	font-family: 'thaisanslite';
	font-weight: normal;
	padding: 3px 15px 3px 13px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}
form.search_hotel .button:hover{
	background: #0072ba;
}
@media only screen and (max-width: 767px) {
	form.search_hotel .button{
		float: none;
		margin: 0 0px 12px 0px !important;
		padding: 10px 20px 11px;
		display: inline-block;
	}

}
/* ---------------------------------------------------------------------- */
/*	Footer
/* ---------------------------------------------------------------------- */
footer{
	border-top: solid 1px #c8c7c7; 
	margin: 30px 0 0 0;
	padding: 0 0 15px 0;
}
footer p{
	color: #757575;
}
footer nav{
	width: 100%;
	margin: 0px 0 0 0;
}
.shadow{
	width: 120px;
	height: 20px;
	background: #ededed url(../images/line2.png) no-repeat;
	margin: -6px auto;
}

ul.menu_footer{
	display: block;
}
ul.menu_footer li{
	float: left;
	list-style: none;
}
ul.menu_footer li a{
	font-size: 20px;
	color: #757575;
	padding: 0 35px 0 0;
	display: block;
}
ul.menu_footer li a:hover{
	color: #F3BD00;
}
.address{
	margin: 15px 0 0 0;
}
.address p{
	color: #757575;
	line-height: 20px;
	text-align: right;
	font-size: 20px;
	margin: 0px;
}
/* ---------------------------------------------------------------------- */
/*	List Packet Tour
/* ---------------------------------------------------------------------- */
.list_packet{
	width: 100%;
	background: #fff;
	height: auto;
	margin: 0 0 8px 0;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	      -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}


.lt-ie9 .list_packet{
	border-radius: 2px;
	box-shadow: 0px 1px 1px #8a8a8a;
	behavior: url(stylesheets/PIE.htc);
}

.list_packet h4{
	float: left;
	font-size: 20px;
	line-height: 20px;
	margin: 0px;
	padding: 0 0 0 5px;
}
.list_packet h4 a{
	line-height: 24px;
	color: #4e4e4e;
}
.list_packet h4 a:hover{
	color: #F3BD00;
}


.rating{
	width: 60px;
	height: 12px;
	background: url(../images/star.png) no-repeat 0px 0px;
	float: right;
	margin: 3px 5px 0 0;
}

.one_star{
	background-position: 0px 0px;
} 
.two_star{
	background-position: 0px -12px;
} 
.three_star{
	background-position: 0px -24px;
} 
.four_star{
	background-position: 0px -36px;
} 
.five_star{
	background-position: 0px -48px;

}


.list_packet .border{
	margin: 0 5px 5px 5px;
}

.list_packet img{
	min-width: 100%;
}
.list_packet img:hover{
	opacity: 0.7;
}

.price{
	float: right;
	font-size: 18px;
	margin: -5px 5px 0 0;
	line-height: 30px;
}
.price span{
	color: #0cace1;
}
.icon{
	float: left;
	min-width: 60px;
	height: 30px;
	background: url(../images/icon.png) no-repeat 0px 0px;
	font-size: 14px;
	line-height: 30px;
	text-indent: 35px;
	margin: 0 0 0 5px;
}
.view{
	background-position: 0px 0px;
	margin: -5px 0 0 5px;
}
.comment{
	background-position: 0px -30px;
	margin: -5px 0 0 5px;
}
.time{
	background-position: -8px -630px;
	margin: -5px 0 0 0px;
	text-indent: 20px;
	letter-spacing: -1px;
}
.readmore{
	background-position: -8px -660px;
	margin: -5px 0 0 3px;
	text-indent: 20px;
	letter-spacing: -1px;
}


/* ---------------------------------------------------------------------- */
/*	Article
/* ---------------------------------------------------------------------- */
.fb-comments, .fb-comments * {
    width:100% !important;
}
.facebook_comment{
	margin: 5px 15px 0 15px;
	background: #fff;
	overflow: hidden;
	padding: 3px 3px 0px 0px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	      -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.lt-ie9 .facebook_comment{
	border-radius: 2px;
	box-shadow: 0px 1px 1px #8a8a8a;
	behavior: url(stylesheets/PIE.htc);
}

.social_network{
	float: right;
	width: 100%;
	margin: 15px 0 9px 0;

}
.addthis_button_google_plusone {
	width: 65px;
	float: right !important;
}
.addthis_button_tweet {
	width: 85px;
	float: right !important;
}
.addthis_button_tweet iframe {
	width: 85px !important;
}
.addthis_button_pinterest_pinit{
	width: 50px;
	float: right !important;
}
.addthis_button_facebook_like{
	float: right !important;
}
.addthis_toolbox .addthis_button_pinterest_pinit{
	margin-right: 0px !important;
}

/* ---------------------------------------------------------------------- */
/*	Sortable 
/* ---------------------------------------------------------------------- */
.packet{
	min-height: 500px;
}
.connected, .sortable, .exclude, .handles {
	margin: auto;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sortable.grid {
	overflow: hidden;
}
.connected li, .sortable li, .exclude li, .handles li {
	list-style: none;
}
.handles span {
	cursor: move;
}
li.disabled {
	opacity: 0.5;
}
.sortable.grid li {
	width: 100%;
}
.connected .list_packet, .connected .list_packet  a{
	cursor: move !important;
}
.connected .list_packet .readmore a{
	cursor: pointer !important; 
}
.connected.no1 {
	text-align: center;
	min-height: 200px;
	overflow: hidden;
	padding: 60px 20px 20px 20px;
	margin: 0 0 20px 0;
	-moz-box-shadow: inset 0px 0px 20px #000000;
	-webkit-box-shadow: inset 0px 0px 20px #000000;
	box-shadow: inset 0px 0px 20px #000000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#6f6f6f', endColorstr = '#222222');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#6f6f6f', endColorstr = '#222222')";
	background-image: -moz-linear-gradient(top, #6f6f6f, #222222);
	background-image: -ms-linear-gradient(top, #6f6f6f, #222222);
	background-image: -o-linear-gradient(top, #6f6f6f, #222222);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#6f6f6f), to(#222222));
	background-image: -webkit-linear-gradient(top, #6f6f6f, #222222);
	background-image: linear-gradient(top, #6f6f6f, #222222);
}
.connected.no1 li {
	width: 48%;
	display: inline-block !important;
	margin: 0 10px 0 0;
}
.connected.no2 {
	min-height: 500px;
}


li.sortable-placeholder {
	border: 1px dashed #CCC;
	background: none;
	height: 120px;
}

.packet_item{
	position: relative;
}
.sticker_date {
	background: url(../images/sticker.png) 0px -128px no-repeat;
	position: absolute;
	top: 10px;
	left: -4px;
	z-index: 1;
	font-size: 30px;
	line-height: 37px;
	height: 42px;
	width: 96px;
	text-indent: 10px;
	color: #fff;
}
p.action_button{
	text-align: center;
}
p.action_button a{
	cursor: pointer;
	display: inline-block;
	height: 40px;
	line-height: 35px;
	width: auto;
	padding: 0px 20px 0px 20px;
	margin: 0 10px 0 0;
	font-size: 26px;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px; 
	border: solid 1px #101010;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#212121', endColorstr = '#4e4e4e');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#212121', endColorstr = '#4e4e4e')";
	background-image: -moz-linear-gradient(top, #212121, #4e4e4e);
	background-image: -ms-linear-gradient(top, #212121, #4e4e4e);
	background-image: -o-linear-gradient(top, #212121, #4e4e4e);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#212121), to(#4e4e4e));
	background-image: -webkit-linear-gradient(top, #212121, #4e4e4e);
	background-image: linear-gradient(top, #212121, #4e4e4e);
}
p.action_button a:hover{
	color: #baff00;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#353535', endColorstr = '#141414');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#353535', endColorstr = '#141414')";
	background-image: -moz-linear-gradient(top, #353535, #141414);
	background-image: -ms-linear-gradient(top, #353535, #141414);
	background-image: -o-linear-gradient(top, #353535, #141414);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#353535), to(#141414));
	background-image: -webkit-linear-gradient(top, #353535, #141414);
	background-image: linear-gradient(top, #353535, #141414);
}
p.action_button a.add_date:hover{
	color: #fd0142;
}
p.action_button a i.share-facebook{
	display: block;
	float: right;
	width: 21px;
	height: 30px;
	margin: 5px 0 0 -2px;
	background: url(../images/icon.png) no-repeat 0px -512px;
}
p.action_button a.share:hover{
	color: #00deff;
}
a.close{
	cursor: pointer;
	position: absolute;
	width: 30px;
	height: 30px;
	right: 3px;
	top: 5px;
	background: url(../images/icon.png) no-repeat 0px -542px;

}
.fack-element{
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
}


/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane {
  background : rgba(0,0,0,.1);
  position   : absolute;
  width      : 8px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;
}
.nano > .pane > .slider {
  background: #13c9df;
  position              : relative;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}


.nano .content { 
	padding: 0 20px 0 0;
}



.sticky_content{
	position: relative;
	height: 520px;
}
.darg_packet{
	min-height: 600px;
}
.reveal-modal{
	max-height: 500px;
	overflow-y: auto; 
}

/*.reveal-modal .close-reveal-modal{
	position: absolute;
	width: 30px;
	height: 30px;
	right: 3px;
	top: 0px;
	background: url(../images/icon.png) no-repeat 0px -542px;
	text-indent: -9999px;
}*/